html {
  position: relative;
  min-height: 100%;
}

body { margin-bottom: 60px; color: white;}

body > .container { padding: 60px 15px 0; }

.container .text-muted {
  margin: 20px 0;
  text-align: center;
  color: white;
  text-shadow: 1px 2px 3px grey;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background: red;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

.navbar-default { background: red; }

.navbar-header .navbar-brand,
.navbar-header .navbar-brand:hover,
.navbar-default .navbar-nav > li a { color: white; text-shadow: 1px 2px 3px grey; }

.navbar-default .navbar-nav > li a:hover { color: white; text-shadow: 1px 2px 3px grey; background: rgba(0,0,0, 0.1); }

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover { background: gold; color: white; text-shadow: 1px 2px 3px grey;}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover { background: gold;}

.navbar-nav > li > .dropdown-menu { background: red;}

.dropdown-menu > li > a:hover { background: gold;}

.page-header { border-bottom-color: red; color: red; text-shadow: 1px 2px 3px grey; }

.navbar-default .navbar-toggle { border-color: black; }

.navbar-default .navbar-toggle .icon-bar { background: black;}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open >a:focus,
.navbar-default .navbar-nav > .open >a:hover { color: white; }

.navbar-default .navbar-nav .open .dropdown-menu>li>a { color: white; }
.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover { color: white; background:rgba(0,0,0, 0.1);}
